step_functions/fof_backend_core.json
{
    "Comment": "A Hello World example demonstrating various state types of the Amazon States Language",
    "StartAt": "PreProcess",
    "States": {
      "PreProcess": {
        "Comment": "A Pass state passes its input to its output, without performing work. Pass states are useful when constructing and debugging state machines.",
        "Type": "Pass",
        "Next": "文脈なしの返答すべき？"
      },
      "文脈なしの返答すべき？": {
        "Comment": "A Choice state adds branching logic to a state machine. Choice rules can implement 16 different comparison operators, and can be combined using And, Or, and Not",
        "Type": "Choice",
        "Choices": [
          {
            "Variable": "$.IsPreResponse",
            "BooleanEquals": true,
            "Next": "Yes"
          },
          {
            "Variable": "$.IsPreResponse",
            "BooleanEquals": false,
            "Next": "No"
          }
        ],
        "Default": "Yes"
      },
      "Yes": {
        "Type": "Pass",
        "Next": "文脈なしの返答"
      },
      "No": {
        "Type": "Pass",
        "Next": "State?"
      },
      "文脈なしの返答": {
        "Comment": "A Wait state delays the state machine from continuing for a specified time.",
        "Type": "Task",
        "Resource": "arn:aws:lambda:ap-northeast-1:576160388846:function:fof_manual_handler",
        "End": true
      },
      "State?": {
          "Type": "Choice",
          "Choices": [
            {
              "Variable": "$.state",
              "StringEquals": "Launch",
              "Next": "Launch"
            },
            {
              "Variable": "$.state",
              "StringEquals": "Oracle",
              "Next": "Oracle"
            }
          ],
          "Default": "Launch"
        },
      "Launch": {
          "Type": "Task",
          "Resource": "arn:aws:lambda:ap-northeast-1:576160388846:function:fof_state_launch",
          "Next": "PostProcess"
      },
      "Oracle": {
          "Type": "Task",
          "Resource": "arn:aws:lambda:ap-northeast-1:576160388846:function:fof_state_oracle",
          "Next": "PostProcess"
      },
      "PostProcess": {
        "Type": "Pass",
        "End": true
      }
    }
  }
